services:
  # Tidal does not allow localhost redirect uris, so you can run a cloudflared tunnel (or similar) to expose it
  tunnel:
    container_name: cloudflared-tunnel
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel run
    env_file: .cloudflared.env
  migrate:
    build:
      dockerfile: Dockerfile.local
      context: .
      target: builder
    volumes:
      - db:/db
    env_file:
      - .env
    entrypoint: "/spootifer/target/release/spootifer-rust --migrate"
  app:
    depends_on:
      - "migrate"
    ports:
      - "8080:8081"
    build:
      dockerfile: Dockerfile.local
      context: .
      target: runner
    volumes:
      - db:/db
    env_file:
      - .env
    entrypoint: "/spootifer/spootifer/spootifer-rust"
networks:
  default:
    name: app
volumes:
  db:
